//
   Created by betrayer on 27.11.15.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title RadioW
        link(href='/css/main.css', rel='stylesheet')
        script(data-main='/main' src='/lib/requirejs/require.js')

    body
        #serverMessage
            = info
    p I am
