@font-face {
    font-family: Liberation;
    src: url(LiberationSans-Regular.ttf);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.non-selectable,
.non-selectable * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.hoverable {
    
}

.hoverable:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%);
}

.draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -grab;
}

div.dragging ,
div.dragging .draggable {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
